.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px gray;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 255, 213);
    align-items: center;
}

h1{
    width: 300px;
}

p {
    font-size: 50px;
    width: 300px;
}

img{
    width: 300px;
}

ol{
    height: 20vh;
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
}